<h2><%=l(:label_vacation_calendar_new)%></h2>

<%= form_for @vacation_calendar_view, url: {action: "create" }, html: {class: "nifty_form"} do |f| %>
	<input id="vacation_calendar_view_vacation_calendar_id" name="vacation_calendar_view[vacation_calendar_id]" type="hidden" value="<%= @vacation_calendar_view.vacation_calendar_id%>") />
	<p><%= f.select( :field_id, getIssueFieldsForView, {:required => true} )%></p>
  <%= f.submit  %>
<% end %>